# Django
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,stage-3-backend-production.up.railway.app

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23lia73T1w3mdq6WoP
GITHUB_CLIENT_SECRET=8bb44572a26413b87b80dea23b1b0ff7e29b31ad

# JWT
JWT_SECRET_KEY=your-jwt-secret-key

# URLs
BACKEND_URL=http://127.0.0.1:8000
WEB_PORTAL_URL=http://localhost:5500